<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Record</title>
    </head>
    <body>
        <div class="body" layout:fragment="body">
            <h1>Insert Promotions in the Catalog</h1>
            <div id="loader-form" class="pre-load"></div>

            <form id="form-add-promo" action="#">
                <div id="alert"></div>
                <div class="row">
                    <div class="col-9">
                        <div class="mb-3">
                            <label for="promotionLink" th:text="#{label.title.offerLink}"></label>
                            <input type="url" class="form-control" id="promotionLink" name="promotionLink" aria-describedby="offerLink" placeholder="Ex.: http://www..." />
                            <small id="offerLink" class="form-text text-muted" th:text="#{small.note.offerLink}"></small>
                            <div id="error-promotionLink" class=""></div>
                        </div>
                        <div class="mb-3">
                            <label for="title" th:text="#{label.title.offerTitle}"></label>
                            <input type="text" class="form-control" id="title" name="title" aria-describedby="offerTitle" />
                            <small id="offerTitle" class="form-text text-muted" th:text="#{small.note.offerTitle}"></small>
                            <div id="error-title"></div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="price" th:text="#{label.title.price}"></label>
                                    <input type="text" class="form-control" id="price" name="price" placeholder="ex.: 59,99" data-mask="#.##" data-mask-reverse="true" />
                                    <div id="error-price" class=""></div>
                                </div>
                                <div class="col-6">
                                    <label for="category" th:text="#{label.title.category}"></label>
                                    <select id="category" name="category" class="form-control">
                                        <option value="">Select</option>
                                        <option th:each="c : ${categories}" th:text="${c.title}" th:value="${c.id}">...</option>
                                    </select>
                                    <div id="error-category"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" th:text="#{label.title.description}"></label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Something about the promotion or product..."></textarea>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-3 d-flex justify-content-end">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header" th:text="#{span.image}"></div>
                                <span class="mx-auto" id="loader-img"></span>
                                <img id="imageLink" alt="product image" class="card-img-top" th:src="@{/images/promo-dark.png}" width="308px" />
                                <div class="card-body bg-light">
                                    <h5 id="site" class="card-title"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button id="btn-og" class="btn btn-primary btn-lg btn-block" th:text="#{button.submit}"></button>
                            <span id="loader-img-btn"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script th:src="@{/js/promo-add.js}" th:fragment="js"></script>
    </body>
</html>
